trigger:
  branches:
    include:
      - main
      - develop
      - feature/infra-setup

pr:
  branches:
    include:
      - develop
      - main

variables:
  AZURE_SERVICE_CONNECTION: sc-techflow-dev
  APP_IMAGE_NAME: techflow-app
  JOB_IMAGE_NAME: techflow-job
  TF_IN_AUTOMATION: "true"

stages:
  - stage: BuildScanPushDeploy
    displayName: Build, Scan, Push, Deploy
    jobs:
      - job: build_scan_push_deploy
        displayName: Build, Scan, Push, Deploy
        pool:
          vmImage: ubuntu-latest
        steps:
          - checkout: self

          - task: Docker@2
            displayName: Build app image
            inputs:
              command: build
              repository: $(ACR_LOGIN_SERVER)/$(APP_IMAGE_NAME)
              Dockerfile: app/Dockerfile
              buildContext: app
              tags: |
                $(Build.SourceVersion)

          - task: Docker@2
            displayName: Build job image
            inputs:
              command: build
              repository: $(ACR_LOGIN_SERVER)/$(JOB_IMAGE_NAME)
              Dockerfile: job/Dockerfile
              buildContext: job
              tags: |
                $(Build.SourceVersion)

          - script: |
              curl -sSfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin
              trivy image --exit-code 1 --severity CRITICAL,HIGH $(ACR_LOGIN_SERVER)/$(APP_IMAGE_NAME):$(Build.SourceVersion)
              trivy image --exit-code 1 --severity CRITICAL,HIGH $(ACR_LOGIN_SERVER)/$(JOB_IMAGE_NAME):$(Build.SourceVersion)
            displayName: Trivy scan images

          - script: |
              pip install checkov
              checkov -d infra --quiet
            displayName: Checkov scan Terraform

          - task: AzureCLI@2
            displayName: ACR login
            inputs:
              azureSubscription: $(AZURE_SERVICE_CONNECTION)
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az acr login --name $(ACR_NAME)

          - script: |
              docker push $(ACR_LOGIN_SERVER)/$(APP_IMAGE_NAME):$(Build.SourceVersion)
              docker push $(ACR_LOGIN_SERVER)/$(JOB_IMAGE_NAME):$(Build.SourceVersion)
            displayName: Push images

          - task: AzureCLI@2
            displayName: Terraform apply
            condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/develop'), eq(variables['Build.SourceBranch'], 'refs/heads/main')))
            inputs:
              azureSubscription: $(AZURE_SERVICE_CONNECTION)
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                cd infra
                terraform init
                terraform apply -auto-approve \
                  -var "secret_value=$(MY_SECRET)" \
                  -var "app_image_tag=$(Build.SourceVersion)" \
                  -var "job_image_tag=$(Build.SourceVersion)"
